<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Education</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Caveat Brush" rel="stylesheet" />
    <link href="./css/stylesheet.css" rel="stylesheet" />
</head>
<body>
<div th:replace="navpage :: navlinks"></div>

<!--<form action="#"
      th:action="@{/processedu}"
      th:object="${education}"
      method="post">
    <input type="hidden" th:field="*{id}" />


    <h1>Education: </h1><br />
    &ensp;Degree&nbsp;<input type="text" th:field="*{degree}" />
    <span th:if="${#fields.hasErrors('degree')}"
          th:errors="*{degree}"></span><br />

    &ensp;Major&nbsp;<input type="text" th:field="*{major}" />
    <span th:if="${#fields.hasErrors('major')}"
          th:errors="*{major}"></span><br />

    &ensp;School&nbsp;<input type="text" th:field="*{school}" />
    <span th:if="${#fields.hasErrors('school')}"
          th:errors="*{school}"></span><br />
    &ensp;Year&nbsp;<input type="text" th:field="*{year}" />
    <span th:if="${#fields.hasErrors('year')}"
          th:errors="*{year}"></span><br />
    <br />


    <br />
    <input type="submit" value="Submit" />
-->
<div class="col-md-4">
    <form th:action="@{/processeducation}"
          th:object="${education}"
          th:method="post">

        <div class="reporthead text-align:center">Add Education</div>
        <br />
        <div class="form-group">
            <label for="degree">Degree:</label>
            <input type="text" class="form-control" id="degree"></input>
        </div>
        <div class="form-group">
            <label for="major">Major:</label>
            <input type="text" class="form-control" id="major"></input>
        </div>
        <div class="form-group">
            <label for="school">School:</label>
            <input type="text" class="form-control" id="school"></input>
        </div>
        <div class="form-group">
            <label for="year">Year:</label>
            <input type="text" class="form-control" id="year"></input>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>


</form>
</body>
</html>