<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Caveat Brush" rel="stylesheet" />
    <link href="./css/stylesheet.css" rel="stylesheet" />
</head>
<body>
<div th:replace="navpage :: navlinks"></div>

<div th:each="job : ${jobs}">
    <h2>Job position, duties, organization</h2>
    <span th:text="${job.position}"></span><br />
    <span th:text="${job.duties}"></span><br />
    <span th:text="${job.organization}"></span><br />

    <br />

    <div th:each="reqskill : ${requiredskills}">
        <h2>Job skills</h2>
        <span th:text="${reqskill.skillname}"></span><br />
    </div>

    <a th:href="@{/update/job/{id}(id=${job.id})}">Update</a>
    <a th:href="@{/addreqskill/job/{id}(id=${job.id})}">Add Skills</a>
    <a th:href="@{/listreqskill/{id}(id=${job.id})}">List Required Skills</a>
    <br />

    <br />
</div>

<br />
<!--<h2>Required Skills</h2>
<div th:each="reqskill : ${reqskills}">
    <span th:text="${reqskill.skillname}"></span><br />
    <a th:href="@{/update/reqskill/{id}(id=${reqskill.id})}">Update</a>
    <br />
</div>
-->

<br />

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
