<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="navlinks">
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav nav-pills">
            <li class="nav-item">
            <a class="nav-link"></a>
                    <img src="./images/microsoft-logo.jpg" ></img>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('APPLICANT')">
                <a class="nav-link " href="addsumm">Summary</a>
            </li>

            <li class="nav-item" sec:authorize="hasAuthority('APPLICANT')">
                <a class="nav-link " href="addcontact">Contact Information</a>

            </li>

            <li class="nav-item" sec:authorize="hasAuthority('APPLICANT')">
                <a class="nav-link" href="addedu">Education</a>
            </li>

            <li class="nav-item" sec:authorize="hasAuthority('APPLICANT')">
                <a class="nav-link" href="addskills">Skills</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('APPLICANT')">
                <a class="nav-link" href="addexp">Experience</a>
            </li>

            <li class="nav-item" sec:authorize="hasAuthority('APPLICANT')">
                <a class="nav-link" href="/addreference">References</a>
            </li>

            <li class="nav-item" sec:authorize="hasAuthority('APPLICANT')">
                <a class="nav-link" href="resume">Update Resume</a>
            </li>

            <li class="nav-item" sec:authorize="hasAuthority('APPLICANT')">
                <a class="nav-link" href="potentialjobs">Potential Jobs</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="showview">View</a>
            </li>

            <li class="nav-item" sec:authorize="hasAuthority('RECRUITER')">
                <a class="nav-link" href="addjob">Post Jobs</a>
            </li>

            <li class="nav-item" sec:authorize="hasAuthority('RECRUITER')">
                <a class="nav-link" href="addskillstojob/${jobid}">Add Job Skills</a>
            </li>

            <li class="nav-item" sec:authorize="hasAuthority('RECRUITER')">
                <a class="nav-link" href="listjob">List Jobs</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="logout">Logout</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>

