<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Caveat Brush" rel="stylesheet" />
    <link href="./css/stylesheet.css" rel="stylesheet" />
</head>
<body>
<div th:replace="navpage :: navlinks"></div>

<!--<form action="#"
      th:action="@{/processcontact}"
      th:object="${contact}"
      method="post">
    <h1>Resume Form</h1>

    <a href="/addedu">Add Reference</a>&nbsp;&nbsp;&nbsp;<a href="/addexp">Add Reference</a><br />

    <input type="hidden" th:field="*{id}" />

    <br />
    Name :<input type="text" th:field="*{name}" />
    <span th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"></span><br />

    Email :<input type="text" th:field="*{email}" />
    <span th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}"></span><br />
    <br />

    Phone :<input type="text" th:field="*{phone}" />
    <span th:if="${#fields.hasErrors('phone')}"
          th:errors="*{phone}"></span><br />
    <br />


    <input type="submit" value="Submit" />

    <!--<input type="submit" value="Submit" /> -->

<div class="col-md-4">
    <form th:action="@{/processreference}"
          th:object="${reference}"
          th:method="post">

        <div class="reporthead text-align:center">Add Reference</div>
        <br />
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name"></input>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email"></input>
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" class="form-control" id="phone"></input>
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>

</form>
</body>
</html></html>