--<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Caveat Brush" rel="stylesheet" />
    <link href="./css/stylesheet.css" rel="stylesheet" />
</head>
<body>
<div th:replace="navpage :: navlinks"></div>
<h2>Job</h2>

<div th:each="job : ${jobs}">
    <span th:text="${job.jobnum}">Job Number:</span><br />
    <span th:text="${job.position}">Job Position</span><br />
    <span th:text="${job.duties}">Duties:</span><br />
    <span th:text="${job.organization}">Organization:</span><br />
    <a th:href="@{/update/job/{id}(id=${job.id})}">Update</a>
    <br />
    <h2>Required Skills</h2>
<!--
    jobskill  = Job.getJobskills(${job.id});
    List<Requiredskill> getJobSkills() {
    return jobSkills;
    }
    -->
    <!--  <div th:each="reqskill : ${reqskills}">-->
 <!--   <div th:each="jobskill: ${job.getJobSkills(job.id)}">
        <span th:text="${jobskill.skillname}"></span><br />
        <a th:href="@{/update/reqskill/{id}(id=${reqskill.id})}">Update</a>
        <br />
    </div>

    <br />
    <br />
</div>


<br />
<!--<h2>Required Skills</h2>
<div th:each="reqskill : ${reqskills}">
    <span th:text="${reqskill.skillname}"></span><br />
    <a th:href="@{/update/reqskill/{id}(id=${reqskill.id})}">Update</a>
    <br />
</div>
-->

<br />

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>